/* h1{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 700;
    font-size: 80px;
    line-height: normal;
}
p{
    font-family:'Times New Roman', Times, serif;
    font-weight: 400;
    font-size: 35px;
    line-height: normal;
} */

@font-face
{
    src: url(../fonts/Pacifico-Regular.ttf);
    font-family: Pacifico;
}
@font-face
{
    src: url(../fonts/BreeSerif-Regular.ttf);
    font-family: BreeSerif;
}
@font-face
{
    src: url(../fonts/Righteous-Regular.ttf);
    font-family: Righteous;
}
@font-face
{
    src: url(../fonts/PTSansCaption-Regular.ttf);
    font-family: PTSansCaption;
}
body
{
    background-color: #f7ecde;
}
h1
{
    font-family: Pacifico;
    font-size: 50px;
    font-weight: 500;
    line-height: 60px;
    position: relative;
    color: rgb(53, 46, 40)

}
h1::before
{
    content: "";
    position: absolute;
    width: 100%;
    height: 25%;
    left: 0;
    bottom: 10px;
    z-index: -1;
    background-color: #fec260;
    transition: all 0.5s;
}
h1:hover::before
{
    height: 50%;


}
h1::selection,h2::selection
{
    background-color: #fec260;
}
h2
{
    font-family: Righteous;
    background: linear-gradient(to right, #3ca55c, #b5ac49);
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
    -webkit-background-clip:text;
    -webkit-text-fill-color: transparent;

}
.beg
{
    background-color: #F7ECDE;
}
.bor
{
    border-top: 2px black dotted;
    border-bottom: 2px black dotted;
}